
  <form novalidate>
    <md-card>
      <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Emergency Contact 1</span>
          </md-card-title-text>
        </md-card-title>
        <formly-form model="emergencyContact1" fields="emergencyContactFields" form="emergencyContact1Form">
        </formly-form>
      </md-card>
      <md-card style="margin-bottom:0">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Emergency Contact 2</span >
          </md-card-title-text>
        </md-card-title>
      <formly-form model="emergencyContact2" fields="emergencyContactFields" form="emergencyContact2Form">
      </formly-form>
    </md-card>
  </form>

  <div id="formButtonsContainer">
    <md-button class="form-nav-button" ng-click="gotoState('volunteerInfo')">Back</md-button>
    <md-button class="form-nav-button" ng-click="gotoState('payments')">Next</md-button>
  </div>
