  <!-- Emergency Contact Form template for SITC registration app -->
  <!-- Note: adding any inputs that are not actual <input /> tags will break the function goToPage() in emergencyContactsController.js -->

  <form novalidate>
    <md-card>
      <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Parent / Emergency Contact 1</span>
          </md-card-title-text>
        </md-card-title>
        <formly-form model="emergencyContact1" fields="emergencyContactFields" form="emergencyContact1Form">
        </formly-form>
      </md-card>
      <md-card style="margin-bottom:0">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Parent / Emergency Contact 2</span >
          </md-card-title-text>
        </md-card-title>
      <formly-form model="emergencyContact2" fields="emergencyContactFields" form="emergencyContact2Form">
      </formly-form>
    </md-card>
  </form>

  <div id="formButtonsContainer">
    <md-button class="form-nav-button" ng-click="goToPage('volunteerInfo', 0)">Back</md-button>
    <md-button class="form-nav-button" ng-click="goToPage('payments', 1)">Next</md-button>
  </div>
