<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline" style="color: red; font-weight: bold">Registration Error</span>
      <span class="md-subhead">There was a problem with your registration. Please try again. If the problem persists, email us at <a href="mailto:help@summerinthecity.com">help@summerinthecity.com</a>.</span>
      <br />
      <span class="md-subhead">If you input credit card information, your card was not charged.</span>
    </md-card-title-text>
  </md-card-title>
</md-card>
