  <form name="paymentForm">
    <md-card ng-show="showDefaultPaymentError" class="md-warn">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Something went wrong with your payment.</span>
          <span class="md-subhead">We're not sure what went wrong. Please try again, or pay with cash or check on your first day.</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>
    <md-card style="margin-bottom:0;">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Almost Done</span>
          </md-card-title-text>
        </md-card-title>
        <div class="payment-group-container">
          <md-input-container>
            <h4>Have you volunteered with us before?</h4>
            <md-radio-group class="md-primary" ng-model="regInfo.firstTimeTeer">
              <div class="row">
                <div flex layout='row' layout-padding layout-align="start center" >
                  <md-radio-button ng-value="0" aria-label="Yes">Yes</md-radio-button>
                </div>
              </div>
              <div class="row">
                <div flex layout='row' layout-padding layout-align="start center" >
                  <md-radio-button ng-value="1" aria-label="No">No</md-radio-button>
                </div>
              </div>
          </md-input-container>
        </div>
        <div class="payment-group-container">
          <md-input-container>
            <h4>T-Shirt Size</h4>
            <md-select class="md-primary" ng-model="regInfo.shirtSize" ng-change="hideError('#tshirtError')" placeholder="Select">
              <md-option ng-repeat="(id, label) in shirtSizes" ng-value="id" required>{{ label }}</md-option>
            </md-select>
          </md-input-container>
          <div id="tshirtError" style="display:none" class="custom-error-message">
            This field is required.
          </div>
        </div>
        <div class="payment-group-container">
          <md-input-container style="width:100%">
            <h4>Release & Waiver of Liability</h4>
            <div layout="column" style="heigh:160px">
              <iframe src="app/views/waiverText.html" scrolling="yes" style="overflow:scroll">
              </iframe>
            </div>
            <md-checkbox ng-true-value="1" ng-false-value="0" ng-model="regInfo.turnedInPartTwo" aria-label="string">
              I have read this waiver and agree to its terms.
            </md-checkbox>
          <div layout="row" layout-xs="column" class="input-group-container" style="margin-top:0; margin-bottom:20px">
            <md-input-container>
              <label>Volunteer Signature</label>
              <input type="text" name="initials" ng-model="regInfo.initials" required />
            </md-input-container>
            <md-input-container style="padding-left:10px">
              <label>Date</label>
              <input type="text" name="initialedDate" ng-model="regInfo.initialedDate" ui-mask-placeholder="mm/dd/yyyy" ui-mask="99/99/9999" ui-options="{allowInvalidValue:true}" required />
            </md-input-container>
          </div>
          <span class="md-subhead">If volunteer is under 18, parent/guardian signature is required</span>
          <div layout="row" layout-xs="column" class="input-group-container" style="margin-top:0">
            <md-input-container>
              <label>Parent/Guardian Signature</label>
              <input type="text" name="parentInitials" ng-model="regInfo.parentInitials" />
            </md-input-container>
            <md-input-container style="padding-left:10px">
              <label>Date</label>
              <input type="text" name="parentInitialedDate" ng-model="regInfo.parentInitialedDate" ui-mask-placeholder="mm/dd/yyyy" ui-mask="99/99/9999" ui-options="{allowInvalidValue:true}" />
            </md-input-container>
          </div>
          <div id="partTwoError" style="display:none" class="custom-error-message">
            This field is required.
          </div>
        </div>
    </md-card>
  </form>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Payment</span>
        <span class="md-subhead" style="display:block">There is a one-time $40 registration fee to participate with Summer in the City. We spend approximately $20 per volunteer <span style="font-style: italic">per day</span> on project materials, facilitation and food, among other things. We rely on your registration fee (and the deductible donations of families like yours) to sustain our programming.
      </span>
      <span class="md-subhead" style="margin-top: 10px; padding: 0">Pay online now and recieve a 10% discount and get your T-shirt upon arrival on your first day.</span>
      <span class="md-subhead" style="margin-top: 10px; padding: 0">If you are unable to pay, we will waive the fee, no questions asked.</span>
    </md-card-title-text>
  </md-card-title>

  <div class="payment-group-container" style="display:block">
    <md-input-container> <!-- for some reason, this was displaying on the last line of the p text -->
      <h4>Payment Method</h4>
      <md-radio-group class="md-primary" name="paymentMethod" ng-model="regInfo.paymentMethod" ng-change="hideError('#paymentMethod')" ng-required="true">
        <div class="row">
          <div flex layout='column' layout-padding layout-align="start start" >
            <md-radio-button ng-value="payMethodValues[1]" aria-label="Credit/Debit" ng-disabled="stripeNotLoaded">I will pay my registration fee (and consider donating) by credit card.</md-radio-button>
            <div id="noStripeWarning" ng-show="stripeNotLoaded">
              Connect to the internet to pay via credit card. If you are already connected, check your connection.
            </div>
          </div>
        </div>
        <div class="row">
          <div flex layout='row' layout-padding layout-align="start center" >
            <md-radio-button ng-value="payMethodValues[0]" aria-label="Cash/Check">I will pay by check or cash (and consider donating) my first day.</md-radio-button>
          </div>
        </div>
        <div class="row">
          <div flex layout='row' layout-padding layout-align="start center" >
            <md-radio-button ng-value="payMethodValues[4]" aria-label="Waive Fee">I am unable to pay. Please waive my fee.</md-radio-button>
          </div>
        </div>
      </md-radio-group>
      <div id="paymentMethodError" style="display:none" class="custom-error-message">
        This field is required.
      </div>
    </md-input-container>
  </div>
  <div class="payment-group-container" ng-show="regInfo.paymentMethod == 'credit' || regInfo.paymentMethod === 'credit_donation_default_amt' || regInfo.paymentMethod === 'credit_donation_custom_amt'">
    <md-input-container>
      <h4>Amount</h4>
      <md-radio-group class="md-primary" ng-model="creditOption" ng-change="hideError('#amountError')">
        <div class="row">
          <div flex layout='row' layout-padding layout-align="start center" >
            <md-radio-button ng-value="payMethodValues[1]" aria-label="$36">$36 - just the discounted registration fee</md-radio-button>
          </div>
        </div>
        <div class="row">
          <div flex layout='row' layout-padding layout-align="start center" >
            <md-radio-button ng-value="payMethodValues[2]" aria-label="$80">$80 - registration fee plus a tax-deductible donation</md-radio-button>
          </div>
        </div>
        <div class="row">
          <div flex layout='row' layout-padding layout-align="start center" >
            <md-radio-button ng-value="payMethodValues[3]" aria-label="custom amount" style="padding-right:0">$36 for registration + a tax-deductible donation of $
            </md-radio-button>
            <div style="padding:0"><input type="number" ng-model="custom_donation_amt" style="width:60px"/></div>
            <div style="font-weight: 500; padding-top: 0; padding-bottom: 0">= ${{ 36 + custom_donation_amt }}</div>
          </div>
        </div>
      </md-radio-group>
    </md-input-container>
    <div id="amountError" style="display:none" class="custom-error-message">
      This field is required.
    </div>
  </div>
  <div class="payment-group-container" ng-show="regInfo.paymentMethod == 'credit' || regInfo.paymentMethod === 'credit_donation_default_amt' || regInfo.paymentMethod === 'credit_donation_custom_amt'">
    <!-- <md-input-container id="paymentInfoContainer"> -->
      <h4 style="margin-bottom:0">Payment Info</h4>
      <div id="paymentRequestButton" style="max-width: 250px">
        <!-- Payment request button goes here -->
      </div>
      <form id="paymentForm">
        <div flex-gt-sm="50" flex-sm="100" layout="column" align-items="end end">
          <div id="orContainer" flex layout="row" style="margin-bottom: 15px">
            <div flex style="border-bottom: 1px solid black; margin-right: 10px; margin-top: -20px"></div>
            <p style="margin-bottom: -10px">Or</p>
            <div flex style="border-bottom: 1px solid black; margin-left: 10px; margin-top: -20px"></div>
          </div>
          <div class="form-row">
            <label for="card-element">
              Credit or debit card
            </label>
            <div id="card-element">
              <!-- A Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display form errors. -->
            <div id="card-errors" role="alert"></div>
          </div>
          <div layout="row">
            <div flex></div>
            <md-button class="md-primary md-raised" ng-disabled="submitButtonIsDisabled" type="submit" style="max-width: 100px; margin-top: 10px">Submit</md-button>
          </div>
        </div>

      </form>
      <!-- </md-input-container> -->
    </div>
  </md-card>

    <div id="formButtonsContainer">
      <md-progress-linear md-mode="indeterminate" ng-show="showLoader" class="md-accent"></md-progress-linear>
      <md-button class="form-nav-button" ng-click="goToState(null, 'emergencyContacts', 0)">Back</md-button>
      <md-button class="md-primary md-raised" style="margin-top: 35px" ng-click="submit()" ng-disabled="submitButtonIsDisabled" ng-show="regInfo.paymentMethod == 'cash_check' || regInfo.paymentMethod == 'waive'">
        <span>Submit</span>
      </md-button>
    </div>
