<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Thank you for registering!</span>
      <span class="md-subhead"></span>
    </md-card-title-text>
  </md-card-title>
</md-card>

<div id="cardsContainer" layout-xs="column" layout="row">
  <div id="leftColCardsContainer" flex layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Got questions?</span>
          <span class="md-subhead">Visit our <a href="http://www.summerinthecity.com/volunteer/" target="blank">Volunteers page</a> for more information on volunteering, and don't hesitate to email us at <a href="mailto:staff@summerinthecity.com">Staff@summerinthecity.com</a></span>
        </md-card-title-text>
      </md-card-title>
    </md-card>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Tell your friends</span>
          <span class="md-subhead">Share our "How to ... Summer in the City" video far and wide.</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="row">
        <iframe src="https://player.vimeo.com/video/171214235" width="360" height="203" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </md-card-content>
    </md-card>
  </div> <!-- #leftColCardsContainer -->

</div> <!-- #cardsContainer -->
