<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Thank you for registering!</span>
      <span class="md-subhead"></span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <p class="md-subhead">Now that you are registered, you will get our most up-to-date information.</p>
    <p class="md-subhead">Got questions? We are probably wondering the same thing, given these unprecedented
      circumstances.</p>
    <p class="md-subhead">As always, feel free to reach out. Email is optimal: <a
        href="hello@summerinthecity.com">hello@summerinthecity.com</a></p>
  </md-card-content>
</md-card>
