  <form name="registrationForm">
    <md-card>
      <md-card-title style="margin-bottom:-10px">
        <md-card-title-text>
          <span class="md-headline">Contact Info</span>
        </md-card-title-text>
      </md-card-title>
      <div layout="row" layout-xs="column" class="input-group-container">
          <md-input-container flex="nogrow">
            <label>First name</label>
            <input type="text" name="firstName" ng-model="personInfo.firstName" size="30" required>
          </md-input-container>
          <md-input-container flex="nogrow" class="column-interior">
            <label>Last Name</label>
            <input type="text" ng-model="personInfo.lastName" size="30" required>
          </md-input-container>
        </div>
        <div layout="row" layout-xs="column" layout-align="start start" class="input-group-container">
          <div layout="column">
            <md-input-container>
              <label>Volunteer Cell Phone</label>
              <input type="text" name="phone" ng-model="regInfo.phone" size="20" ui-mask="(999) 999-9999" clean="true" ng-required="!noCellPhone">
            </md-input-container>
            <md-input-container>
              <md-checkbox ng-model="noCellPhone">
                Volunteer does not have a cell phone
              </md-checkbox>
            </md-input-container>
          </div>
          <md-input-container class="column-interior">
            <label>Home/Alternate Phone</label>
            <input type="text" name="phone" ng-model="regInfo.altPhone" size="20" ui-mask="(999) 999-9999" clean="true" ng-required="noCellPhone">
          </md-input-container>
        </div>
        <div class="input-group-container">
          <md-input-container class="first-in-group xs-max-width">
            <label>Email</label>
            <input type="email" name="email" ng-model="regInfo.email" required>
            <div ng-messages="registrationForm.email.$error">
              <div ng-message="email">
                Oops, please enter a valid email address.
              </div>
            </div>
          </md-input-container>
        </div>
        <div class="input-group-container">
          <md-input-container class="first-in-group">
            <label>Address</label>
            <input type="text" name="address" ng-model="regInfo.address" size="35" required>
          </md-input-container>
          <br />
          <md-input-container>
            <label>Address Line 2</label>
            <input type="text" name="addressLineTwo" ng-model="regInfo.addressLineTwo" size="35">
          </md-input-container>
          <br />
          <md-input-container>
            <label>Zip</label>
            <input type="text" name="zip" ng-model="regInfo.zip" size="7" ng-blur="fillAddressFields()" required>
          </md-input-container>
          <div layout-gt-xs="row">
            <md-input-container>
              <label>City</label>
              <input type="text" name="city" ng-model="regInfo.city" ng-value="regInfo.city" required>
            </md-input-container>
            <md-input-container class="column-interior">
              <label>State</label>
              <md-select ng-model="regInfo.state" placeholder="Select" required>
                <md-option ng-repeat="(abbrev, name) in states" ng-value="abbrev">{{ name }}</md-option>
              </md-select>
            </md-input-container>
          </div>
        </div>
    </md-card>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Personal Info</span>
          <span class="md-subhead">The information in this section is solely for the purpose of reporting demographic data on our participants. All responses will be kept private, and most questions are optional.</span>
        </md-card-title-text>
      </md-card-title>
      <div class="input-group-container">
        <md-input-container class="first-in-group">
          <label>Birthdate</label>
          <input type="text" id="birthdateString" name="birthdateString" ng-model="birthdateString" ui-mask-placeholder="mm/dd/yyyy" ui-mask="99/99/9999" ui-options="{clearOnBlurPlaceholder:true, allowInvalidValue:true}" ng-blur="setBirthdateAndValidate()" required>
          <div ng-messages="registrationForm.birthdateString.$error">
            <div ng-message="notOldEnough">
              It looks like you're not 14. You must be at least 14 years old to volunteer.
            </div>
          </div>
        </md-input-container>
      </div>
      <div class="input-group-container">
        <md-input-container class="first-in-group">
          <md-select ng-model="regInfo.gender" ng-change="checkForOtherGender()" placeholder="Gender">
              <md-option ng-value="value" ng-repeat="(value, label) in genders">{{ label }}</md-option>
          </md-select>
        </md-input-container>
        <br />
        <md-input-container class="other-input-container" ng-if="otherGenderIsRequired">
          <input type="text" id="otherGender" name="otherGender" ng-model="regInfo.otherGender" placeholder="Other Gender"/>
        </md-input-container>
      </div>
      <!-- <div class="input-group-container">
        <md-input-container class="first-in-group">
          <md-select ng-model="regInfo.ethnicity" placeholder="Ethnicity" ng-change="checkForOtherEthnicity()">
            <md-select-label>Select an ethinicity or other</md-select-label>
            <md-option flex ng-value="value" class="md-primary" ng-repeat='(value, label) in ethnicities' >
              {{label}}
            </md-option>
          </md-select>
        </md-input-container>
        <br />
        <md-input-container class="other-input-container" ng-if="otherEthnicityIsRequired">
          <input type="text" id="otherEthnicity" name="otherEthnicity" ng-model="regInfo.otherEthnicity" placeholder="Other Ethnicity"/>
        </md-input-container>
      </div> -->
      <!-- <div class="input-group-container">
        <md-input-container class="first-in-group">
          <md-select ng-model="regInfo.religion" ng-change="checkForOtherReligion()" placeholder="Religion">
            <md-select-label>Select a religion or other</md-select-label>
            <md-option ng-repeat="(value, label) in religions" ng-value="value">
              {{label}}
            </md-option>
          </md-select>
        </md-input-container>
        <br />
        <md-input-container class="other-input-container" ng-if="otherReligionIsRequired">
          <input type="text" id="otherReligion" name="otherReligion" ng-model="regInfo.otherReligion" placeholder="Other Religion"/>
        </md-input-container>
      </div> -->
      <div class="input-group-container" layout="column">
        <div layout="row" layout-xs="column">
          <md-input-container class="first-in-group">
            <md-select ng-model="regInfo.highSchool" placeholder="High School">
              <md-select-label>Select a high school</md-select-label>
              <md-option ng-value="value" ng-repeat="(value, label) in highSchools">{{ label }}</md-option>
            </md-select>
          </md-input-container>
          <div class="md-subhead" id="highSchoolOr">Or</div>
          <md-input-container id="otherHighSchoolInput" style="margin-left:0 !important">
            <input type="text" id="otherHighSchool" name="otherHighSchool" ng-model="regInfo.otherHighSchool" ng-blur="resetValidity()" placeholder="Other High School" ng-required="otherHighSchoolIsRequired" />
            <div ng-messages="registrationForm.otherHighSchool.$error">
              <div ng-message="oneOrOther">
                Please either select a high school or write one in.
              </div>
            </div>
          </md-input-container>
        </div>
        <md-input-container class="hs-grad-year-input-container">
          <label>H.S. Graduation Year</label>
          <input type="text" ng-model="regInfo.hsGradYear" ui-mask="9999" ui-mask-placeholder="yyyy" ui-options="{clearOnBlurPlaceholder:true}" ng-blur="strToInt('hsGradYear')" />
        </md-input-container>
      </div>
      <div>
        <md-input-container class="first-in-group">
          <label>College or University (if applicable)</label>
          <input type="text" name="college" size="30" ng-model="regInfo.college">
        </md-input-container>
      </div>
      <div class="input-group-container">
        <md-input-container class="col-grad-year-input-container first-in-group" ng-if="regInfo.college != '' && regInfo.college != NULL"> Graduation Year</label>
            <input type="text" ng-model="regInfo.colGradYear" ui-mask="9999" ui-mask-placeholder="yyyy" ui-options="{clearOnBlurPlaceholder:true}" ng-blur="strToInt('colGradYear')" />
          </md-input-container>
        </md-input-container>
      </div>
    </md-card>
    <md-card style="margin-bottom: 0">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Carpool Info</span>
        </md-card-title-text>
      </md-card-title>
      <div class="input-group-container">
        <md-input-container class="first-in-group">
          <h4 style="margin-bottom:0">Primary Carpool Site</h4>
          <span class="md-subhead" style="padding-bottom:30px;">This is the carpool site you plan to attend most often, but you are still welcome to go to others!</span>
          <md-radio-group ng-model="personInfo.primaryCarpool_id">
            <div ng-repeat="(siteId, info) in carpoolSites" class="row">
              <div layout="row">
                <div flex-gt-xs="60" flex-xs="80" layout='column' layout-padding layout-align="start start" >
                  <md-radio-button ng-value="siteId" aria-label="">
                    <span>{{ info.displayName }}</span>
                  </md-radio-button>
                  <span class="md-caption" style="cursor:pointer;font-weight:bold;margin-left:30px" ng-click="showMapsModal(info.displayName, info.address, info.city, info.state, info.zip)">{{ info.crossroads }}</span>
                </div>
                <md-button flex-xs="20" ng-click="showMapsModal(info.displayName, info.address, info.city, info.state, info.zip)">
                  <md-icon>place</md-icon>
                  <span>View map</span>
                </md-button>
              </div>
            </div>
          </md-radio-group>
        </md-input-container>
      </div>
      <div class="input-group-container">
        <md-input-container class="first-in-group">
          <h4 style="margin-bottom:0">Volunteer Drivers</h4>
          <span class="md-subhead" style="padding-bottom:30px;">Under most circumstances, Summer in the City staff provides transportation for all volunteers. Occasionally, we do need volunteers to drive. Drivers must be at least 17 years old, licensed, have insurance, and have a seat belt for every passenger. Drivers under age 18 must have parental permission. We can reimburse for fuel expenses.</span>
          <md-radio-group ng-model="regInfo.driverPermit">
            <div class="row" ng-repeat="(value, label) in driverPermitOptions">
              <div flex layout='row' layout-padding layout-align="start center" >
                <md-radio-button ng-value="value" aria-label="Adult">{{ label }}</md-radio-button>
              </div>
            </div>
          </md-radio-group>
        </md-input-container>
      </div>
    </md-card>
  </form>

  <div id="formButtonsContainer">
    <md-button class="form-nav-button" ng-click="goToPage()">Next</md-button>
  </div>
