md-content {
  padding: 20px;
}

md-card {
  padding: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: rgba(255,255,255,.93)
}

md-card-title {
  padding-left: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

md-card-content {
  margin-top: 15px;
}

md-input-container {
  margin-bottom: 0;
}

md-input-container .md-input {
  width: auto;
}

.formly-field {
  margin-top: 18px;
}

.first-in-group {
  margin-top: 0 !important;
}

.input-group-container {
  margin-top: 35px;
}

.column-interior {
  margin-left: 20px;
}

.md-errors-spacer {
  height: 0px !important;
  min-height: 0px !important;
}

#loaderContainer {
  position: fixed;
  width: 500px;
  height: 500px;
  z-index: 100;
}

#loader {
  max-height: 30px !important;
}

/* Context-specific character styles */
  .sitc-form-desc {
    font-size: 14px;
  }

/* Text Opacities */
  label {
    color: rgba(0, 0, 0, .54) !important;
  }

  .primary-text-opacity {
    color: white;
  }

  .black-primary-text-opacity {
    opacity: .87;
  }

  .secondary-text-opacity {
    opacity: .54;
  }

  .iconWhite {
    color: white;
  }

  .icon-hint-disabled-opacity {
    opacity: .5;
    color: white;
  }
/* End text opacities*/

h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

md-radio-button {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  margin-top: 0;
  margin-bottom: 0;
}

.other-input-container {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 45px;
}

.hs-grad-year-input-container {
  width: 150px;
  height: 54px;
}

.col-grad-year-input-container {
  width: 180px;
  height: 54px;
}

/* Buttons */

  .form-nav-button {
    background-color: rgba(255, 255, 255, 0.96);
    margin-top: 35px;
  }

  .form-nav-button:hover {
    background-color: rgba(158, 158, 158, 0.4) !important;
  }

/* Adapted from Clive Walker CVW Design http://www.cvwdesign.com/blog/css3-box-shadow-and-image-hover-effects */

  .image-drop-shadow {
      /*border: solid 1px #EFEFEF;*/

      -webkit-transition:all .2s ease-in;
      -moz-transition: all .2s ease-in;
      transition: all .5s ease-in;
  }
  a:hover img.image-drop-shadow {

      -moz-box-shadow: 1px 1px 10px #999;
      -webkit-box-shadow: 1px 1px 10px #999;
      box-shadow: 1px 1px 10px #999;
  }
