I hereby release and hold harmless Summer In The City, its officers, directors and employees, from all claims for injury and damage of any kind resulting from my participation in Summer In The City. I understand that this Release discharges Summer In The City to fullest extent allowed by law from any liability or claim that may be made against Summer In The City whether caused by Summer In The City or its officers, directors, employees, agents or otherwise.
<br />
<br />
I understand that there are unavoidable risks attendant to the types of activities in which Summer In The City engages and the project sites at which those activities take place. I hereby expressly and specifically assume the risk of injury or harm in these activities and release Summer In The City from all liability for injury and damage resulting from the activities of my participation. I hereby release and forever discharge Summer In The City and its representative and agents from any claim whatsoever which arises or may hereafter arise on account of any first aid, treatment or service rendered or authorized in connection with my activities with Summer In The City.
<br />
<br />
I understand that my belongings may be searched at any Summer in the City carpool or project site. I consent to such searches, and waive any related claims that I might have against Summer in the City. I understand that should I refuse to consent to these searches, I will be turned away from the carpool site or asked to leave the project site.
<br />
<br />
Permission for photographs and video recordings to be taken of me is granted. Further, my rights, title, and interests in all photographic images and video recordings are granted to Summer In The City.
<br />
<br />
In the event that a claim were to be pursued, I do expressly waive rights to trial by jury under state and federal law and agree to submit any matter to binding arbitration. At arbitration, I would choose an arbitrator, Summer In The City would choose an arbitrator, and the two arbitrators would select a neutral third arbitrator to decide any and all claims, actions, or disputes that could arise out of my participation with Summer in the City.
<br />
<br />
This Release is entered into knowingly, willingly and deliberately and is signed in consideration of my being able to participate in Summer In The City. No modification to this form will be given effect without the express consent of Summer In The City.
